*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
}
#card1{
  width: 12rem;
  height: 15rem;
  background-color: blue;
  top: 0;
  left: 0;
}
#card2{
  width: 12rem;
  height: 15rem;
  background-color: red;
  top: 3rem;
  left:4rem ;
 
}
#card3{
  width: 12rem;
  height: 15rem;
  background-color: orange;
  top: 7rem;
  left: 7rem;
}#card4{
  width: 12rem;
  height: 15rem;
  background-color: green;
  top: 9rem;
  left: 9rem ;
}
#card5{
  width: 12rem;
  height: 15rem;
  background-color: brown;
  top: 13rem;
  left: 13rem;
}
#card6{
  width: 12rem;
  height: 15rem;
  background-color: purple;
  top: 15rem;
  left: 15rem;
}
